*.o
*.so
*.exe
*.bak
*.core
tags
testing_ast.h
testing_sru.h
sru
libsru.so
libsru.dll
sru_test
parser.cc
parser_generator/parser.cc
symbols
parser_generator/symbols
constants.h
constants.cc
.sru-history
